:root{
    --bs-primary: #F76902;
    --bs-primary-rgb: 247,105,2;

    --bs-secondary: #7C878E;
    --bs-secondary-rgb: 123,135,142;

    --bs-light: #D0D3D4;
    --bs-light-rgb: 208,211,212;
}

body{
    position: relative;
}

.btn-primary{
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
    transition: 0.3s ease all;
}
.btn-primary:hover{
    background-color: #FFF;
    border-color: #FFF;
    color: var(--bs-primary);
}

.bg-primary {
    background-color: #F76902;
}

nav.navbar.navbar-expand-lg .nav-link:hover{
    color: var(--bs-primary);
}
nav.navbar.navbar-expand-lg .navbar-brand{
    color: var(--bs-primary);
}

/* Artifacts scroll spy */
#artifacts_nav .nav .nav-link{
    color: var(--bs-primary);
}

#artifacts_nav .nav .nav-link.active {
    background-color: var(--bs-primary);
    color: #FFF;
}